In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_excel("C:/Users\\eric.rubyagiza\\Desktop\\Work_ Files\\Planning unit/CBHI/All Invoices (2016.07.01 to 2020.xlsx",sheet_name='Sheet3')

In [3]:
a = df.copy()

In [4]:
a.head()

,Désignation,EOM Month,District,Category,SUSPENDED,Pre-PB,Date reception,Date de vérification,Date de réconciliation,Date de création,...,Average cost billed per encounter,Average PHC cost per patient,Average SHC cost per patient,Percent Procedure,Percent Medicine,Total amount after verification,KFH flag,FYP,SEM,SEM2 - FY
0,RWANDA MILITARY HOSPITAL,2020-09-30,KICUKIRO,RH,NaN,NaN,2020-10-13,2020-11-11,2020-11-11,2020-11-13,...,0,NaN,0,0.883728,0.116272,281838587,RH,2020- 21,SEM 1,SEM 1 - 21
1,RWANDA MILITARY HOSPITAL,2020-08-31,KICUKIRO,RH,NaN,NaN,2020-09-14,2020-10-12,2020-10-12,2020-10-06,...,0,NaN,0,0.882599,0.117401,327402249,RH,2020- 21,SEM 1,SEM 1 - 21
2,RWANDA MILITARY HOSPITAL,2020-07-31,KICUKIRO,RH,NaN,NaN,2020-08-14,2020-08-27,2020-09-21,2020-09-22,...,0,NaN,0,0.865231,0.134769,292989374,RH,2020- 21,SEM 1,SEM 1 - 21
3,RWANDA MILITARY HOSPITAL,2020-06-30,KICUKIRO,RH,NaN,NaN,2020-07-21,2020-08-27,2020-08-27,2020-08-03,...,0,NaN,0,0.828852,0.171148,281720008,RH,2020- 21,SEM 1,SEM 1 - 21
4,RWANDA MILITARY HOSPITAL,2020-05-31,KICUKIRO,RH,NaN,NaN,2020-06-12,2020-07-29,2020-07-29,2020-07-30,...,0,NaN,0,0.822642,0.177358,236493314,RH,2020- 21,SEM 1,SEM 1 - 21

In [5]:
df.head()

,Désignation,EOM Month,District,Category,SUSPENDED,Pre-PB,Date reception,Date de vérification,Date de réconciliation,Date de création,...,Average cost billed per encounter,Average PHC cost per patient,Average SHC cost per patient,Percent Procedure,Percent Medicine,Total amount after verification,KFH flag,FYP,SEM,SEM2 - FY
0,RWANDA MILITARY HOSPITAL,2020-09-30,KICUKIRO,RH,NaN,NaN,2020-10-13,2020-11-11,2020-11-11,2020-11-13,...,0,NaN,0,0.883728,0.116272,281838587,RH,2020- 21,SEM 1,SEM 1 - 21
1,RWANDA MILITARY HOSPITAL,2020-08-31,KICUKIRO,RH,NaN,NaN,2020-09-14,2020-10-12,2020-10-12,2020-10-06,...,0,NaN,0,0.882599,0.117401,327402249,RH,2020- 21,SEM 1,SEM 1 - 21
2,RWANDA MILITARY HOSPITAL,2020-07-31,KICUKIRO,RH,NaN,NaN,2020-08-14,2020-08-27,2020-09-21,2020-09-22,...,0,NaN,0,0.865231,0.134769,292989374,RH,2020- 21,SEM 1,SEM 1 - 21
3,RWANDA MILITARY HOSPITAL,2020-06-30,KICUKIRO,RH,NaN,NaN,2020-07-21,2020-08-27,2020-08-27,2020-08-03,...,0,NaN,0,0.828852,0.171148,281720008,RH,2020- 21,SEM 1,SEM 1 - 21
4,RWANDA MILITARY HOSPITAL,2020-05-31,KICUKIRO,RH,NaN,NaN,2020-06-12,2020-07-29,2020-07-29,2020-07-30,...,0,NaN,0,0.822642,0.177358,236493314,RH,2020- 21,SEM 1,SEM 1 - 21

In [6]:
df.columns

Index(['Désignation', 'EOM Month', 'District', 'Category', 'SUSPENDED',
       'Pre-PB', 'Date reception', 'Date de vérification',
       'Date de réconciliation', 'Date de création', 'Date de prise en charge',
       'Date validation EV', 'Date de paiement', 'Number of vouchers',
       'Total Billed Amount', 'Amount after verification',
       'Total amount to be paid', 'Montant payé', 'Amount difference',
       'RRA Taxes', 'Amount for medical procedure', 'Amount for medecines',
       'Observation', 'INCLUDE', 'Comments', 'WV', 'Source',
       'Ambulance_BEFORE', 'Ambulance_AFTER', 'CO-Paiement.Indigent_BEFORE',
       'CO-Paiement.Indigent_AFTER', 'Consultations_BEFORE',
       'Consultations_AFTER', 'Hospitalization_BEFORE',
       'Hospitalization_AFTER', 'Laboratory.tests_BEFORE',
       'Laboratory.tests_AFTER', 'Medical.Imaging_BEFORE',
       'Medical.Imaging_AFTER', 'Medicines_BEFORE', 'Medicines_AFTER',
       'Others.Consumables_BEFORE', 'Others.Consumables_AFTER',
       'Procedure.&MATERIAL_BEFORE', 'Procedure.&MATERIAL_AFTER',
       'Total.CO-Paiement_BEFORE', 'Total.CO-Paiement_AFTER', 'Match ID', 'CV',
       'Category PHC', 'Category HP', 'Category HC', 'Category CCG',
       'Category DH', 'Category RH', 'FY Period', 'Paid Month', 'Status',
       'Outstanding Status', 'Status Code', 'YTD Flag', 'Count CFY',
       'Count LFY', 'Count LLFY', 'CFY', 'LFY', 'LLFY', 'Total Money',
       'Encounter time to Reception', 'Reception to Verification T',
       'Verification to Reconciliation Time', 'Reconciliation to Payment T',
       'Reconciliation to HQ EV', 'HQ EV to Payment', 'Reception to Payment',
       'Length of Time Outstanding', 'Payment Bucket', 'Percent denied',
       'Average cost billed per encounter', 'Average PHC cost per patient ',
       'Average SHC cost per patient', 'Percent Procedure', 'Percent Medicine',
       'Total amount after verification', 'KFH flag', 'FYP', 'SEM',
       'SEM2 - FY'],
      dtype='object')

In [7]:
df.District.nunique()

7

In [8]:
df.District.unique() #the array

array(['KICUKIRO', 'MUSANZE', 'KARONGI', 'NGOMA', 'NYARUGENGE', 'HUYE',
       'GASABO'], dtype=object)

In [9]:
df.shape

(45, 88)

In [10]:
df.District.value_counts()

MUSANZE       8
KICUKIRO      7
NGOMA         7
NYARUGENGE    7
GASABO        6
HUYE          6
KARONGI       4
Name: District, dtype: int64

In [11]:
dist_df = pd.DataFrame(df.groupby(['District'])["Total Billed Amount"].sum())
dist_df

            Total Billed Amount
District
GASABO                576235183
HUYE                 1177151604
KARONGI               209669491
KICUKIRO             2209990485
MUSANZE               746252858
NGOMA                 451545611
NYARUGENGE           2147560399

In [12]:
dst_df = pd.DataFrame(df.groupby(['District'])["Total Billed Amount"].sum().reset_index())
dst_df #Dispaly the df

     District  Total Billed Amount
0      GASABO            576235183
1        HUYE           1177151604
2     KARONGI            209669491
3    KICUKIRO           2209990485
4     MUSANZE            746252858
5       NGOMA            451545611
6  NYARUGENGE           2147560399

In [13]:
df.describe()

,SUSPENDED,Pre-PB,Date de prise en charge,Number of vouchers,Total Billed Amount,Amount after verification,Total amount to be paid,Montant payé,Amount difference,RRA Taxes,...,HQ EV to Payment,Reception to Payment,Length of Time Outstanding,Percent denied,Average cost billed per encounter,Average PHC cost per patient,Average SHC cost per patient,Percent Procedure,Percent Medicine,Total amount after verification
count,0.0,0.0,0.0,45.000000,4.500000e+01,0.0,4.500000e+01,0.0,0.0,4.500000e+01,...,45.000000,45.000000,22.000000,0.0,45.0,0.0,45.0,45.000000,45.000000,4.500000e+01
mean,NaN,NaN,NaN,8369.666667,1.670757e+08,NaN,1.545519e+08,NaN,NaN,3.729101e+05,...,4.622222,74.911111,47.500000,NaN,0.0,NaN,0.0,0.692185,0.307815,1.549248e+08
std,NaN,NaN,NaN,5252.411178,1.127996e+08,NaN,1.086921e+08,NaN,NaN,2.501557e+06,...,5.527982,31.214669,30.056692,NaN,0.0,NaN,0.0,0.189868,0.189868,1.084147e+08
min,NaN,NaN,NaN,1481.000000,4.287288e+07,NaN,3.864173e+07,NaN,NaN,0.000000e+00,...,0.000000,31.000000,4.000000,NaN,0.0,NaN,0.0,0.208456,0.064347,3.864173e+07
25%,NaN,NaN,NaN,4379.000000,7.922090e+07,NaN,6.833272e+07,NaN,NaN,0.000000e+00,...,1.000000,51.000000,19.250000,NaN,0.0,NaN,0.0,0.659022,0.177526,7.418904e+07
50%,NaN,NaN,NaN,6205.000000,1.062523e+08,NaN,9.272181e+07,NaN,NaN,0.000000e+00,...,2.000000,70.000000,44.000000,NaN,0.0,NaN,0.0,0.747046,0.252954,9.272181e+07
75%,NaN,NaN,NaN,12019.000000,2.558123e+08,NaN,2.364933e+08,NaN,NaN,0.000000e+00,...,7.000000,90.000000,66.750000,NaN,0.0,NaN,0.0,0.822474,0.340978,2.364933e+08
max,NaN,NaN,NaN,20634.000000,4.647507e+08,NaN,4.351998e+08,NaN,NaN,1.678096e+07,...,25.000000,160.000000,113.000000,NaN,0.0,NaN,0.0,0.935653,0.791544,4.351998e+08

In [14]:
df.isnull().sum()/len(df) #df.shape[0]

Désignation                        0.0
EOM Month                          0.0
District                           0.0
Category                           0.0
SUSPENDED                          1.0
                                  ...
Total amount after verification    0.0
KFH flag                           0.0
FYP                                0.0
SEM                                0.0
SEM2 - FY                          0.0
Length: 88, dtype: float64

In [16]:
aa = pd.DataFrame(df.isnull().sum()/df.shape[0], columns=['column_name'])
aa[aa.column_name>0]

                               column_name
SUSPENDED                         1.000000
Pre-PB                            1.000000
Date de prise en charge           1.000000
Amount after verification         1.000000
Montant payé                      1.000000
Amount difference                 1.000000
Observation                       1.000000
Comments                          1.000000
WV                                1.000000
CV                                1.000000
FY Period                         0.333333
Paid Month                        0.466667
Status                            0.466667
Outstanding Status                0.511111
Status Code                       0.466667
YTD Flag                          0.466667
Count CFY                         0.333333
Count LFY                         1.000000
Count LLFY                        1.000000
CFY                               0.466667
LFY                               1.000000
LLFY                              1.000000
Length of Time Outstanding        0.511111
Percent denied                    1.000000
Average PHC cost per patient      1.000000

In [17]:
df.shape[0]

45

In [18]:
df.describe()

,SUSPENDED,Pre-PB,Date de prise en charge,Number of vouchers,Total Billed Amount,Amount after verification,Total amount to be paid,Montant payé,Amount difference,RRA Taxes,...,HQ EV to Payment,Reception to Payment,Length of Time Outstanding,Percent denied,Average cost billed per encounter,Average PHC cost per patient,Average SHC cost per patient,Percent Procedure,Percent Medicine,Total amount after verification
count,0.0,0.0,0.0,45.000000,4.500000e+01,0.0,4.500000e+01,0.0,0.0,4.500000e+01,...,45.000000,45.000000,22.000000,0.0,45.0,0.0,45.0,45.000000,45.000000,4.500000e+01
mean,NaN,NaN,NaN,8369.666667,1.670757e+08,NaN,1.545519e+08,NaN,NaN,3.729101e+05,...,4.622222,74.911111,47.500000,NaN,0.0,NaN,0.0,0.692185,0.307815,1.549248e+08
std,NaN,NaN,NaN,5252.411178,1.127996e+08,NaN,1.086921e+08,NaN,NaN,2.501557e+06,...,5.527982,31.214669,30.056692,NaN,0.0,NaN,0.0,0.189868,0.189868,1.084147e+08
min,NaN,NaN,NaN,1481.000000,4.287288e+07,NaN,3.864173e+07,NaN,NaN,0.000000e+00,...,0.000000,31.000000,4.000000,NaN,0.0,NaN,0.0,0.208456,0.064347,3.864173e+07
25%,NaN,NaN,NaN,4379.000000,7.922090e+07,NaN,6.833272e+07,NaN,NaN,0.000000e+00,...,1.000000,51.000000,19.250000,NaN,0.0,NaN,0.0,0.659022,0.177526,7.418904e+07
50%,NaN,NaN,NaN,6205.000000,1.062523e+08,NaN,9.272181e+07,NaN,NaN,0.000000e+00,...,2.000000,70.000000,44.000000,NaN,0.0,NaN,0.0,0.747046,0.252954,9.272181e+07
75%,NaN,NaN,NaN,12019.000000,2.558123e+08,NaN,2.364933e+08,NaN,NaN,0.000000e+00,...,7.000000,90.000000,66.750000,NaN,0.0,NaN,0.0,0.822474,0.340978,2.364933e+08
max,NaN,NaN,NaN,20634.000000,4.647507e+08,NaN,4.351998e+08,NaN,NaN,1.678096e+07,...,25.000000,160.000000,113.000000,NaN,0.0,NaN,0.0,0.935653,0.791544,4.351998e+08

In [19]:
df.dropna(axis=1, inplace=True)

In [20]:
df.shape

(45, 63)

In [21]:
df.columns

Index(['Désignation', 'EOM Month', 'District', 'Category', 'Date reception',
       'Date de vérification', 'Date de réconciliation', 'Date de création',
       'Date validation EV', 'Date de paiement', 'Number of vouchers',
       'Total Billed Amount', 'Total amount to be paid', 'RRA Taxes',
       'Amount for medical procedure', 'Amount for medecines', 'INCLUDE',
       'Source', 'Ambulance_BEFORE', 'Ambulance_AFTER',
       'CO-Paiement.Indigent_BEFORE', 'CO-Paiement.Indigent_AFTER',
       'Consultations_BEFORE', 'Consultations_AFTER', 'Hospitalization_BEFORE',
       'Hospitalization_AFTER', 'Laboratory.tests_BEFORE',
       'Laboratory.tests_AFTER', 'Medical.Imaging_BEFORE',
       'Medical.Imaging_AFTER', 'Medicines_BEFORE', 'Medicines_AFTER',
       'Others.Consumables_BEFORE', 'Others.Consumables_AFTER',
       'Procedure.&MATERIAL_BEFORE', 'Procedure.&MATERIAL_AFTER',
       'Total.CO-Paiement_BEFORE', 'Total.CO-Paiement_AFTER', 'Match ID',
       'Category PHC', 'Category HP', 'Category HC', 'Category CCG',
       'Category DH', 'Category RH', 'Total Money',
       'Encounter time to Reception', 'Reception to Verification T',
       'Verification to Reconciliation Time', 'Reconciliation to Payment T',
       'Reconciliation to HQ EV', 'HQ EV to Payment', 'Reception to Payment',
       'Payment Bucket', 'Average cost billed per encounter',
       'Average SHC cost per patient', 'Percent Procedure', 'Percent Medicine',
       'Total amount after verification', 'KFH flag', 'FYP', 'SEM',
       'SEM2 - FY'],
      dtype='object')

In [38]:
def sum_n(n):
    return 0.5*(n*(n+1))

In [39]:
def sum_n_2(n):
    return (1/6)*(n*(n+1)*(2*n+1))

In [41]:
def func(x):
    output = 3*x +5
    return output

func(2)

11

In [35]:
def sum2_n(n):
    a = 0.5*(n*(n+1))
    return a

In [24]:
def dist_total(df, col):
    '''Take a column in a datafarame and calculate the total, mean and standard deviation of the that column
    '''
    a = df[col].sum()
    m = df[col].mean()
    s = df[col].std()
    return a, m, s

In [25]:
total_bill, mena_bill, std_dev = dist_total(df, 'Total Billed Amount')
print("Total Billed :", total_bill.round(2))
print("mean Billed :", mena_bill.round(2))
print("Standard Deviation Billed :", std_dev.round(2))

Total Billed : 7518405631
mean Billed : 167075680.69
Standard Deviation Billed : 112799611.55

### Functions

def -> defines the function<br>
name the function<br>
() -> the inputs that the function takes<br>
return -> gives the output of the function

In [44]:
def ingest(path, name):
    import pandas as pd
    df = pd.read_excel(path, sheet_name=name)
    return df

path = "C:\\Users\\eric.rubyagiza\\Desktop\\Work_ Files\\Planning unit\\Investment/Schemes Weight.xlsx"
name = 'Pension Weight'

df = ingest(path, name)
df.head()

      Months  Actual weight  Min weight  Max weight       Category   Scheme
0 2013-07-01       0.213375         0.1         0.5  T.bonds/bills  Pension
1 2013-08-01       0.176294         0.1         0.5  T.bonds/bills  Pension
2 2013-09-01       0.176294         0.1         0.5  T.bonds/bills  Pension
3 2013-10-01       0.173933         0.1         0.5  T.bonds/bills  Pension
4 2013-11-01       0.173933         0.1         0.5  T.bonds/bills  Pension

In [45]:
df2 = ingest(path, 'Medical Weight')
df2.head()

,Months,Actual weight,Min weight,Max weight,Category,Scheme
0,2013-07-01,0.245794,0.1,0.5,T.bills/Gov't paper/bonds,Medical
1,2013-08-01,0.176351,0.1,0.5,T.bills/Gov't paper/bonds,Medical
2,2013-09-01,0.176351,0.1,0.5,T.bills/Gov't paper/bonds,Medical
3,2013-10-01,0.176351,0.1,0.5,T.bills/Gov't paper/bonds,Medical
4,2013-11-01,0.176351,0.1,0.5,T.bills/Gov't paper/bonds,Medical

In [46]:
def proce():
    df3 = ingest(path, 'All_Scheme_Weight')
    df3.loc[:,'grace'] = 1
    return df3

In [48]:
ddf = proce()
ddf.head()

,Months,Actual weight,Min weight,Max weight,Category,Scheme,grace
0,2013-07-01,0.213375,0.1,0.5,T.bonds/bills,Pension,1
1,2013-08-01,0.176294,0.1,0.5,T.bonds/bills,Pension,1
2,2013-09-01,0.176294,0.1,0.5,T.bonds/bills,Pension,1
3,2013-10-01,0.173933,0.1,0.5,T.bonds/bills,Pension,1
4,2013-11-01,0.173933,0.1,0.5,T.bonds/bills,Pension,1

In [62]:
def quad(x,a,b,c):
    return a*x**2 + b*x + c

def quad_solve(a,b,c):
    k = b**2 - 4*a*c
    if k < 0:
        x_1 = (-b + np.sqrt(complex(k)))/(2*a)
        x_2 = (-b - np.sqrt(complex(k)))/(2*a)
    else:
        x_1 = (-b + np.sqrt(k))/(2*a)
        x_2 = (-b - np.sqrt(k))/(2*a)
    return x_1, x_2

In [63]:
a,b,c = 2, 3, 1
quad_solve(a,b,c)

(-0.5, -1.0)

In [64]:
a,b,c = 2, 3, 4
quad_solve(a,b,c)

((-0.75+1.1989578808281798j), (-0.75-1.1989578808281798j))

In [73]:
def cap_word(df, col):
    df[col] = df[col].str.lower()
    df['Weight_range'] = (df['Max weight'] - df['Min weight'])/df['Actual weight']
    return df

cap_word(ddf, 'Category')

,Months,Actual weight,Min weight,Max weight,Category,Scheme,grace,Weight_range
0,2013-07-01,0.213375,0.10,0.5,t.bonds/bills,pension,1,1.874630
1,2013-08-01,0.176294,0.10,0.5,t.bonds/bills,pension,1,2.268939
2,2013-09-01,0.176294,0.10,0.5,t.bonds/bills,pension,1,2.268939
3,2013-10-01,0.173933,0.10,0.5,t.bonds/bills,pension,1,2.299738
4,2013-11-01,0.173933,0.10,0.5,t.bonds/bills,pension,1,2.299738
...,...,...,...,...,...,...,...,...
1087,2020-09-01,0.150000,0.05,0.3,equity (foreign),medical,1,1.666667
1088,2020-10-01,0.150000,0.05,0.3,equity (foreign),medical,1,1.666667
1089,2020-11-01,0.150000,0.05,0.3,equity (foreign),medical,1,1.666667
1090,2020-12-01,0.150000,0.05,0.3,equity (foreign),medical,1,1.666667
1091,2021-01-01,0.150000,0.05,0.3,equity (foreign),medical,1,1.666667

In [69]:
ddf

,Months,Actual weight,Min weight,Max weight,Category,Scheme,grace
0,2013-07-01,0.213375,0.10,0.5,t.bonds/bills,pension,1
1,2013-08-01,0.176294,0.10,0.5,t.bonds/bills,pension,1
2,2013-09-01,0.176294,0.10,0.5,t.bonds/bills,pension,1
3,2013-10-01,0.173933,0.10,0.5,t.bonds/bills,pension,1
4,2013-11-01,0.173933,0.10,0.5,t.bonds/bills,pension,1
...,...,...,...,...,...,...,...
1087,2020-09-01,0.150000,0.05,0.3,equity (foreign),medical,1
1088,2020-10-01,0.150000,0.05,0.3,equity (foreign),medical,1
1089,2020-11-01,0.150000,0.05,0.3,equity (foreign),medical,1
1090,2020-12-01,0.150000,0.05,0.3,equity (foreign),medical,1
1091,2021-01-01,0.150000,0.05,0.3,equity (foreign),medical,1

In [96]:
def create_dat():
    import pandas as pd
    import numpy as np
    import datetime as dt
    a = np.arange(0,100, 2)
    
    df = pd.DataFrame(a, columns=['Random'])
    df['Date'] = np.arange(dt.date(2020,12,1),dt.date(2021,1,20))
    return df